<div class="container">
  <div class="row mt-4">
    <div class="col-4">
      <h2>Mis Citas</h2>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-4">
      <button
        type="button"
        class="btn btn-primary float-end mb-2"
        data-bs-toggle="modal"
        data-bs-target="#crearCitaModal"
      >
        Crear
      </button>
    </div>
  </div>
  <div class="row">
    <div class="alert alert-success" role="alert" *ngIf="accionCompletada">
      {{ mensaje }}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="error">
      {{ mensaje }}
    </div>
    <div class="col">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Mascota</th>
            <th scope="col">Tipo Cita</th>
            <th scope="col">Estado Cita</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citas">
            <th scope="row">{{ cita.id }}</th>
            <td>{{ cita.fechaCita }}</td>
            <td>{{ cita.mascota.nombre }}</td>
            <td>{{ cita.tipoCita.nombre }}</td>
            <td>{{ cita.estadoCita.nombre }}</td>
            <td>
              <button
                type="button"
                class="btn btn-warning"
                data-bs-toggle="modal"
                data-bs-target="#editarCitaModal"
                (click)="editar(cita)"
              >
                Editar estado
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal fade" id="editarCitaModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Editar estado de cita
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <select class="form-select" [(ngModel)]="estadoCita">
              <option value="0" disabled>Elija una opción</option>
              <option *ngFor="let estado of estadosCitas" [value]="estado.id">
                {{ estado.nombre }}
              </option>
            </select>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cerrar
            </button>
            <button
              type="button"
              class="btn btn-warning"
              (click)="guardarCita()"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="crearCitaModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crear cita</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <label class="form-label">Mascota</label>
          <select class="form-select" [(ngModel)]="idMascota">
            <option value="0" disabled>Elija una opción</option>
            <option *ngFor="let mascota of mascotas" [value]="mascota.id">
              {{ mascota.nombre }}
            </option>
          </select>
          <label class="form-label mt-4">Tipo de cita</label>
          <select class="form-select" [(ngModel)]="tipoCita">
            <option value="0" disabled>Elija una opción</option>
            <option *ngFor="let tipo of tiposCitas" [value]="tipo.id">
              {{ tipo.nombre }}
            </option>
          </select>
        </div>
        <div>
          <label class="form-label mt-4">Fecha cita</label>
          <input type="date" class="form-control" [(ngModel)]="fecha" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" (click)="guardarCita()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
